<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->

<plugin xmlns="http://www.w3.org/ns/widgets"
    id="weex-gcanvas"
    version="0.3.3">
    <name>weex-gcanvas</name>
    <description>一款支持.we页面中canvas标签的weex插件，支持文字渲染，图片加载，图形绘制等canvas常用操作</description>
    <license>Apache 2.0</license>
    <keywords>weex,canvas</keywords>
    <repo>https://*.git</repo>
    <issue>https://*</issue>


     <!-- ios -->
     <platform name="ios">

         <config-file target="config.xml" parent="/*">
             <feature name="WXGCanvasModule">
                 <param name="category" value="module" />
                 <param name="ios-package" value="WXGCanvasModule" />
                 <param name="api" value="gcanvas" />
             </feature>
         </config-file>

         <config-file target="config.xml" parent="/*">
             <feature name="WXGCanvasComponent">
                 <param name="category" value="component" />
                 <param name="ios-package" value="WXGCanvasComponent" />
                 <param name="api" value="gcanvas" />
             </feature>
         </config-file>


         <header-file src="native/ios/WXGCanvasComponent.h" />
         <source-file src="native/ios/WXGCanvasComponent.mm" />
         <header-file src="native/ios/WXGCanvasModule.h" />
         <source-file src="native/ios/WXGCanvasModule.m" />

         <framework src="ImageIO.framework" />
         <framework src="CoreGraphics.framework" />
         <framework src="CFNetwork.framework" />
         <framework src="Foundation.framework" />
         <framework src="Security.framework" />
         <framework src="GCanvas" type="podspec" spec="" />
         <framework src="SDWebImage" type="podspec" spec="~>3.7.5" />

     </platform>
          <!-- android -->
     <platform name="android">

         <config-file target="config.xml" parent="/*">
             <feature name="WXGCanvasModule">
                 <param name="category" value="module" />
                 <param name="android-package" value="com.taobao.weex.ui.module.GcanvasModule" />
                 <param name="api" value="gcanvas" />
             </feature>
         </config-file>

         <config-file target="config.xml" parent="/*">
             <feature name="WXGcanvasComponent">
                 <param name="category" value="component" />
                 <param name="android-package" value="com.alibaba.weex.extend.component.WXGcanvasComponent" />
                 <param name="api" value="gcanvas" />
             </feature>
         </config-file>

         <source-file src="native/android/WXGCanvasGLSurfaceView.java" target-dir="src/com/alibaba/weex/extend/component" />
         <source-file src="native/android/WXGcanvasComponent.java" target-dir="src/com/alibaba/weex/extend/component" />
         <source-file src="native/android/GcanvasModule.java" target-dir="src/com/taobao/weex/ui/module" />

         <!--<framework src="com.taobao.android:gcanvas_weex_plugin:1.0.0-SNAPSHOT" />-->
         <framework src="com.taobao.android.gcanvas:gcanvas_library:1.4.2.25@aar" />
         <!-- <framework src="GCanvas" type="podspec" spec="" /> -->

     </platform>


</plugin>
